$border-bottom-width: 1px;

$expander-width: 24px;

$indicator-width: 6px;
$indicator-height: 10px;

// TODO: remove div selector (currently scroll detection doesn't work without it);

// div {
//     height: 100%;
// }

// .fxtree-container {
//     overflow: auto;
// }

.fxtree-root {
    padding: 0;
    margin: 0;
}

.fxtree-children {
    padding-left: 20px;
}

.fxtree-node {
    box-sizing: border-box;
}

.fxtree-node-content-wrapper {
    border-bottom: $border-bottom-width solid lightgray;
    display: flex;
    position: relative;
    overflow: visible;
    box-sizing: border-box;

    // Node- and line-height are set in code
}

.fxtree-node-content {
    // margin: -1px, padding:1px to make border space part of node-content
    // to avoid blinking of drop indicator when switching between nodes
    margin-bottom: -$border-bottom-width;
    padding-bottom: $border-bottom-width;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fxtree-children-expander-wrapper {
    display: inline-block;
    width: $expander-width;
    text-align: center;
    margin-right: 7px;
}

// Expander
.fxtree-children-expander {
    align-self: center;
    width: 0;
    height: 0;
    border-style: solid;
    display: inline-block;
    border-width: 0;
}

.fxtree-node.fxtree-node-expanded {
    .fxtree-children-expander-wrapper {
        cursor: pointer;
        .fxtree-children-expander {
            border-width: 0 0 8px 8px;
            border-color: transparent transparent #000000 transparent;
        }
    }
}

.fxtree-node.fxtree-node-collapsed {
    .fxtree-children-expander-wrapper {
        cursor: pointer;
        .fxtree-children-expander {
            border-width: 4px 0 4px 8px;
            border-color: transparent transparent transparent #000000;
        }
    }
}

// Drag and Drop Indicator
@mixin fxtree-indicator {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    border-style: solid;
    border-width: $indicator-height/2 0 $indicator-height/2 $indicator-width;
    border-color: transparent transparent transparent black;
    z-index: 10;
}

.fxtree-before-indicator::before {
    @include fxtree-indicator();
    margin-top: -($indicator-height / 2) - $border-bottom-width; // 5px - border-width to avoid jumping of the indicator when switching nodes
    margin-left: $expander-width - $indicator-width - 6px; // expander width - indicator width - offset
}

.fxtree-inside-indicator::before {
    @include fxtree-indicator();
    top: 50%;
    transform: translateY(-50%);
    margin-left: $expander-width - $indicator-width - 1px; // expander width - indicator width - offset
}

.fxtree-after-indicator::before {
    @include fxtree-indicator();
    top: 100%;
    transform: translateY(-50%);
    margin-left: $expander-width - $indicator-width - 6px; // expander width - indicator width - offset
}

// Checkbox
.fxtree-checkbox {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 0;
    margin-right: 8px;
    width: 16px;
    min-width: 16px;
    height:  16px;

    background-color: #dee2e6;
    border-radius: 4px;

    &.fxtree-checked {
        background-color: #007bff;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
    }

    &.fxtree-indeterminate {
        background-color: #007bff;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23fff' d='M0 2h4'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
    }
}
