<!-- <div class="fxtree-container" (scroll)="onScroll($event)">

    <div
        *ngFor="let topNode of topNodes"
        [style.height.px]="topNode.height">
    </div>

    <fxtree-node
        *ngFor="let node of contentNodes"
        [node]="node">
    </fxtree-node>

    <div
        *ngFor="let bottomNode of bottomNodes"
        [style.height.px]="bottomNode.height">
    </div>
</div> -->

<cdk-virtual-scroll-viewport [itemSize]="nodeHeight" style="height: 500px;">
    <fxtree-node
        *cdkVirtualFor="let node of data"
        [node]="node">
    </fxtree-node>
</cdk-virtual-scroll-viewport>