$node-height: 24px;
tstree, div {
    display: block;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.tstree-root {
    padding: 0;
    margin: 0;
}

.tstree-children {
    padding-left: 20px;
}

.tstree-node {
    list-style: none;
    box-sizing: border-box;
}

.tstree-node-content{
    height: $node-height;
    line-height: $node-height;
    border-bottom: 1px solid lightgray;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
