$node-height: 24px;
$border-bottom-width: 1px;

$expander-width: $node-height;

$indicator-width: 6px;
$indicator-height: 10px;

// TODO: remove div selector (currently scroll detection doesn't work without it);

fxtree,
div {
    display: block;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.fxtree-container {
    overflow: auto;
}

.fxtree-root {
    padding: 0;
    margin: 0;
}

.fxtree-children {
    padding-left: 20px;
}

.fxtree-node {
    list-style: none;
    box-sizing: border-box;
}

.fxtree-node-content-wrapper {
    border-bottom: $border-bottom-width solid lightgray;
    display: flex;
    position: relative;
    overflow: visible;
}

.fxtree-node-content {
    // margin: -1px, padding:1px to make border space part of node-content
    // to avoid blinking of drop indicator when switching between nodes
    margin-bottom: -$border-bottom-width;
    padding-bottom: $border-bottom-width;
    height: $node-height;
    line-height: $node-height;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fxtree-children-expander-wrapper {
    display: inline-block;
    height: $node-height;
    width: $expander-width;
    text-align: center;
    line-height: $node-height - 1px;
    margin-right: 7px;
}

// Expander
.fxtree-children-expander {
    align-self: center;
    width: 0;
    height: 0;
    border-style: solid;
    display: inline-block;
    border-width: 0;
}

.fxtree-node-expanded>.fxtree-node-content-wrapper {
    .fxtree-children-expander-wrapper {
        cursor: pointer;
        .fxtree-children-expander {
            border-width: 0 0 8px 8px;
            border-color: transparent transparent #000000 transparent;
        }
    }
}

.fxtree-node-collapsed>.fxtree-node-content-wrapper {
    .fxtree-children-expander-wrapper {
        cursor: pointer;
        .fxtree-children-expander {
            border-width: 4px 0 4px 8px;
            border-color: transparent transparent transparent #000000;
        }
    }
}

// Drag and Drop Indicator
@mixin fxtree-indicator {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    border-style: solid;
    border-width: $indicator-height/2 0 $indicator-height/2 $indicator-width;
    border-color: transparent transparent transparent black;
}

.fxtree-before-indicator::before {
    @include fxtree-indicator();
    margin-top: -($indicator-height / 2) - $border-bottom-width; // 5px - border-width to avoid jumping of the indicator when switching nodes
    margin-left: $expander-width - $indicator-width - 6px; // expander width - indicator width - offset
}

.fxtree-inside-indicator::before {
    @include fxtree-indicator();
    margin-top: ($node-height / 2) - ($indicator-height / 2);
    margin-left: $expander-width - $indicator-width - 1px; // expander width - indicator width - offset
}

.fxtree-after-indicator::before {
    @include fxtree-indicator();
    margin-top: $node-height - ($indicator-height / 2);
    margin-left: $expander-width - $indicator-width - 6px; // expander width - indicator width - offset
}
